<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <form action="signup" method="post">
        <div class="login_card">
            <h1>Signup</h1>
            <h2>Enter you account</h2>
    
            <div class="input-row">
                <input type="text" name = "signup_name" placeholder="Username" id="input1">
                <input type="text"  name="signup_password" placeholder="password">
    
            </div>
            <br/><a href="/Login">Login</a><br/>
            <button>submit</button>
        </div>
    </form>

    <script type="module" src="/login.js"></script>
</body>
</html>